.deslizador-contenedor {
    position: relative;
    height: 370px;
    
    .slide-contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #c0d9df;
        
        .s-img {
            width: 310px;
            height: 100%;
            border-radius: 10px;
            margin-left: 6px;
            margin-bottom: -10px;
            background-size: cover;
            background-position: center;
        }
    
        .flechaDerecha {
            font-size: 43px;
            position: absolute;
            right: -10px;
            top: 44%;
        }
        .flechaIzquierda {
            font-size: 43px;
            position: absolute;
            top: 44%;
            left: -10px;
            // top: 60%
        }
    }

    .puntos-Contenedor {
        // background-color: red;
        display: flex;
        justify-content: center;
        
        .punto {
            margin: 0 28px;
            cursor: pointer;
            width: 24px;
            height: 10px;
            border:solid 2px white;
            border-radius: 10px;
            background-color: black;
            font-size: 20px;
        }
        
        .punto-seleccionado {
            width: 24px;
            height: 10px;
            border: 2px #96a4a4 solid;
        }
        
        .azul {
            background-color: #80C7D9;
        }
        
        .negro {
            background-color: black;
        }
        
        .rosado {
            background-color: #EFAFBC;
        }
    }
}