.slide {
    width: 310px;
    height: 100%;
    border-radius: 10px;
    margin-left: 6px;
    margin-bottom: -10px;
    background-size: cover;
    background-position: center;
}

.slide-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #c0d9df;

    .flechaDerecha {
        font-size: 43px;
        position: absolute;
        right: -10px;
        top: 44%;
    }
    .flechaIzquierda {
        font-size: 43px;
        position: absolute;
        top: 44%;
        left: -10px;
        // top: 60%
    }
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.slider-contenedor {
    position: relative;
    height: 370px;
}

.dotsContainer {
    // background-color: red;
    display: flex;
    justify-content: center;
}

.dot {
    margin: 0 28px;
    cursor: pointer;
    width: 24px;
    height: 10px;
    border:solid 2px white;
    border-radius: 10px;
    background-color: black;
    font-size: 20px;
}

.selected-dot {
    width: 24px;
    height: 10px;
    border: 2px #96a4a4 solid;
}

.blue {
    background-color: #80C7D9;
}

.black {
    background-color: black;
}

.pink {
    background-color: #EFAFBC;
}
