<div>
  <mat-toolbar class="contenedor">
    <div class="contenedor2">
      <a href="#" class="home-link">
        <i class="fa-solid fa-store icono"></i>
        <h1 class="titulos1">Store</h1>
      </a>
    </div>

    <ul class="contenedor3">
      <li class="links">
        <a href="#" class="titulos3">SHOP</a>  
      </li>
      <li class="links">
        <a href="#" class="titulos3">ABOUT US</a>  
      </li>
      <li class="links">
        <a href="#" class="titulos3">
          <i class="fa-solid fa-user usuario"></i>
        </a>
      </li>
      <li class="links">
        <i class="fa-solid fa-cart-shopping carrito"></i>
      </li>
    </ul>
  </mat-toolbar>

</div>

