<div>
  <mat-toolbar class="contenedor-contenido">
    <div class="store-contenedor">
      <a href="#" class="store-link">
        <i class="fa-solid fa-store store-icon"></i>
        <h1 class="shein-title">Shein</h1>
      </a>
    </div>

    <div class="padre-contenedor-links">
      <ul class="contenedor-links">
        <li class="links">
          <a href="#">HOME</a>
        </li>
        <li class="links">
          <a href="#">SHOP</a>  
        </li>
        <li class="links">
          <a href="#">ABOUT US</a>  
        </li>
        <li class="links">
          <a href="#">LOGIN</a>  
        </li>
        <!-- <li class="links">
          <a href="#" class="titulos3">
            <i class="fa-solid fa-user usuario"></i>
          </a>
        </li> -->
        <li class="links">
          <i class="fa-solid fa-cart-shopping carrito"></i>
        </li>
      </ul>
    </div>
  </mat-toolbar>

</div>

