
<div>
    <mat-toolbar class="contenedor">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <div class="contenedor2">
        <fa-icon class="icono" [icon]="tienda"></fa-icon>
        <h1 class="titulos1">Store</h1>
    </div>

    <div class="contenedor3">
      <span class="titulos2">HOME</span>
      <span class="titulos3">ABOUT US</span>
      <span class="titulos4">SHOP</span>
      <span class="titulos5">CONTACT</span>
      <fa-icon class="usuario" [icon]="usuario"></fa-icon>
      <fa-icon class="carrito" [icon]="carrito"></fa-icon>
      <span class="example-spacer"></span>

    </div>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

   </button>

  </mat-toolbar>


</div>

