<section class="w-full h-[20px] home-contenedor">
    <!-- contenedor para los titulos -->
    <div class="contenedor-contenido">
        <h1 class="outfit-titulo">--OUTFIT OF THE DAY--</h1>
        <span class="estilos-titulo">ALL YOUR</span>
        <span class="estilos-titulo-ultimo">STYLES ARE HERE</span>
    </div>

    <!-- contenedor para el carrucel -->
    <div class="carrucel">
        <app-image-slider [slides]="slides"></app-image-slider>
    </div>

    <app-button styleClasses="home-button">
        <p class="m-[0]">BUY NOW</p>
        <i class="fa-solid fa-greater-than ml-[20px] mb-[1.5px] text-[13px] font-bold "></i>
    </app-button>

</section>
