<div>
  <mat-toolbar class="contenedor-contenido">
    <!-- menu de amburgueza - mostrar cuando es para celular-->
    <div class="sm-menu ml-[10px] mr-[25px]">
      <i
        class="fa-solid fa-bars text-[30px]"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"
      ></i>
    </div>

    <div
      class="offcanvas offcanvas-start Padre-contenedor"
      data-bs-scroll="true"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="contenedor-link">
        <ul class="contenedor-links">
          <!-- <li class="links">
            <i class="fa-solid fa-house-chimney"></i>
            <a href="/home">HOME</a>
          </li> -->
          <!-- <li class="links">
            <i class="fa-brands fa-shopify"></i>
            <span routerLink="/shop">SHOP</span><br />
          </li> -->
          <li class="links">
            <i class="fa-solid fa-user"></i>
            <a href="/login">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="store-contenedor">
      <a href="/home" class="store-link">
        <i class="fa-solid fa-store store-icon"></i>
        <h1 class="shein-title">Shein</h1>
      </a>
    </div>

    <div class="padre-contenedor-links">
      <ul class="contenedor-links">
        <!-- <li class="links">
          <a href="/home">HOME</a>
        </li> -->
        <!-- <li class="links">
          <a routerLink="shop">SHOP</a>
        </li> -->

        <form class="d-flex contenedor-links" role="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-cart-shopping"></i>
          <i class="fa-regular fa-heart"></i>
          <li class="nav-item dropdown links">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              role="button"
              aria-expanded="false"
            >
            <i class="fa-sharp fa-light fa-user" style="color: #000000;"></i>
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="!authServices.user">
                <a routerLink="login" class="dropdown-item">Iniciar Sesion</a>
              </li>
              <li *ngIf="!authServices.user">
                <a routerLink="registro" class="dropdown-item">Registraste</a>
              </li>
              <li>
                <a routerLink="/" class="dropdown-item">Perfil</a></li>
              <li>
                <a (click)="logout()"  class="dropdown-item" routerLink="login" href="/">Cerrar Sesion</a>
              </li>
            </ul>
          </li>
        </form>

        <!-- <li class="links">
          <i class="fa-solid fa-cart-shopping carrito"></i>
        </li> -->
      </ul>
    </div>
  </mat-toolbar>
</div>
