.contenedor-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 17px;

  .sm-menu {
    color: #525252;
  }
  margin-top: 17px;

  .sm-menu {
    color: #525252;
  }

  .padre-contenedor-links {
    li:nth-child(4), li:nth-child(3), li:nth-child(2), li:nth-child(1){
      display: none;
    }

    li:nth-child(4),
    li:nth-child(3),
    li:nth-child(2),
    li:nth-child(1) {
      display: none;
    }

    .contenedor-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      list-style: none;
      margin-right: 6px;
      margin-bottom: 0;

      .links {
        cursor: pointer;
        margin-right: 10px;
        font-weight: 600;
      }

      a {
        text-decoration: none;
        font-size: 14px;
        color: #787878;
      }

      .carrito {
        color: #525252;
        font-size: 30px;
      }
    }
  }

  .store-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    
    height: auto;

    .shein-title {
      margin-left: 2%;
      color: #525252;
      font-size: 29px;
    }

    .store-link {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;

      .shein-title {
        margin-right: 20px;
        color: #525252;
        font-size: 20px;
      }

      .store-icon {
        font-size: 30px;
        display: none;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 5px;
        color: #79b4b7;
      }
    }
  }

  .Padre-contenedor {
    .contenedor-link {
      .contenedor-links {
        .links {

          a {
            text-decoration: none;
            color: #525252;
            margin-left: 10px;
          }

        

          margin-bottom: 5%;
          padding-top: 5%;

      
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .offcanvas-start.show:not(.hiding),
  .offcanvas-start.showing {
    transform: none;
    width: 60%;
  }
}

//vista para desktop
@media screen and (min-width: 800px) {
  .contenedor-contenido {
    height: 50px;
    margin-top: 20px;

    .sm-menu {
      display: none;
    }


    .padre-contenedor-links {

      // desplegando los links
      li:nth-child(4),
      li:nth-child(3),
      li:nth-child(2),
      li:nth-child(1) {
        display: block;
      }

      .contenedor-links {
        .links {
          margin-right: 55px;
        }

        .carrito {
          font-size: 24px;
        }
      }
    }
        
    .store-contenedor {
      height: 100%;
      margin-left: 47px;

      .store-link {
        .shein-title {
          font-size: 29px;
        }

        .store-icon {
          display: block;
          font-size: 30px;
          margin-right: 20px;
          color: #79b4b7;
        }
      }
    }
  }
}