<form>
  <div class="main-container">
    <div  class="container-login">
      <h1>Registro</h1>
      <br/>

      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="exampleFormControlInput1"
          placeholder="Name"
        />
        <br/>
        <input
        type="email"
        class="form-control"
        formControlName="email"
        id="exampleFormControlInput1"
        placeholder="Last Name"
      />
      <br/>
        <input
        type="email"
        class="form-control"
        formControlName="email"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
      <br/>
        <input
          type="password"
          id="inputPassword5"
          formControlName="password"
          class="form-control"
          placeholder="password"
          aria-labelledby="passwordHelpBlock"
        />


      <div class="button" >
        <button type="button" type="submit" class="btn btn-outline-primary">Login</button>
        <br/>
        <button type="button" class="btn btn-outline-primary">Acceder con Google</button>
        <br/>
        <span>¿Tienes un cuenta? Inicia Seccion</span>
      </div>
      </div>


    </div>
  </div>

</form>


