/* You can add global styles to this file, and also import other style files */
body{
  background:rgb(254, 251, 243);/* fallback for old browsers */
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
}

.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

