<div class="contenedor-shop">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <img
        src="https://i.pinimg.com/564x/1b/d5/86/1bd5863c4c2ebab99043fae0d95e881c.jpg"
        class="card-img-top"
        alt="..."

      />
      <button type="button" class="btn btn-outline-light">AGREGAR AL CARRITO</button>
      <p class="card-title">Special title treatment</p>
      <p class="card-title">
        With supporting text below as to.
      </p>
    </div>
  </div>
</div>

