<div class="contenedor-shop">
  <div class="contenedor-contenido">
    <img
      src="https://i.pinimg.com/564x/06/28/01/06280171c7ca08517650febfde29debf.jpg"
      alt=""
      class="img"
    />
    <div class="contenerdor-text">
      <span class="text-princ">HOT DAEALS THIS WEEK</span>
      <span class="text-seng">SALE UP 50% MODERN FURNITURE</span>
      <button class="button">VIEW NOW</button>
    </div>
  </div>
</div>

<div class="contenedor-ropa">

<div class="card text-end" style="width: 18rem;">
  <div class="card-body card text-end" >
    <img src="" alt="">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body card text-end" >
    <img src="https://i.pinimg.com/564x/6f/56/07/6f56079ac6e727baa99255d550ad5292.jpg" alt="">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>



<div class="card text-end" style="width: 18rem;">
  <div class="card-body card text-end" >
    <img src="https://i.pinimg.com/564x/6f/56/07/6f56079ac6e727baa99255d550ad5292.jpg" alt="">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body card text-end" >
    <img src="https://i.pinimg.com/564x/6f/56/07/6f56079ac6e727baa99255d550ad5292.jpg" alt="">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
</div>
