.contenedor-shop {
  display: flex;
  width: 100%;

  .contenedor-contenido {
    width: 78pc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 431px;
    background-color: #ffffff;
  }

  .img {
    width: 436px;
    padding: 65px;
  }

  .contenerdor-text {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .button {
    width: 115px;
    height: 42px;
    border: 1px solid rgb(10, 10, 10);
    margin-top: 27px;
    background-color: #f0f8ff17;
    cursor: pointer;
    ;
  }

  .text-princ {
    width: 110%;
    font-size: 18px;
    color: brown;
    margin-bottom: 3px;
    font-family: inherit;
  }

  .text-seng {
    color: #000000;
    font-size: 17px;
    margin-bottom: 2px;
    font-family: inherit;
  }
}

.contenedor-ropa {
  display: flex;
  margin-left: 5p;
  align-items: center;
  padding: 25px 0px 0px 0px;
  justify-content: space-between;
}
